@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&display=swap');


* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url('./assets/vecteezy_flat-design-mountains-landscape-background-illustration_14763069.jpg');
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #749470;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.text {
    padding-top: 2rem;
}


.title>img {
    width: 700px;
    margin-bottom: 1rem;
}

.title>p {
    margin-top: 1rem;
    color: #364534;
    font-size: 1.3rem;
    font-weight: 800;
}

.rules h3 {
    font-size: 2rem;

}

.rules {
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    background-color: #4f96bad9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 6rem 4rem 6rem 4rem;
    border-radius: 12px;
}

div.canvas {
    margin-top: 0;
}

.canvas {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    gap: 20px;
}

canvas {
    border-radius: 3%;
    border: 20px white solid;
}


.assets {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem
}

.assets img {
    width: 40%;
    height: auto
}


.counter {
    position: absolute;
    top: 0;
    right: 0;

    display: none;
    flex-direction: row;
    text-align: left;
    width: 350px;
    font-size: 2rem;
    color: #4f664c;
    font-weight: 800;
    border: none;
    padding: 2rem 3rem 2rem 3rem;
}


.gameboard {
    position: relative
}

.active {
    display: block
}




#start-btn {
    color: #749470;
    font-weight: 800;
    font-size: 1.7rem;
    border: none;
    padding: 1rem 2rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 6px 9px 0px 0px rgba(116, 148, 112, 0.78);

}